django>=1.10
git+https://bitbucket.org/boxmeteam/boxme-jwt.git
git+https://bitbucket.org/boxmeteam/boxme-core.git
pyjwt==1.5.3
pytz==2017.2

git+https://bitbucket.org/boxmeteam/boxme-jwt-permission.git
